*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  text-align: center;
  margin-bottom: 20px;
}

.container{
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.container a{
  text-decoration: none;
  width: 25%;
}

.blocco0{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: lightblue;
  height: 200px;
  transition: all .5s;
}

.blocco0:hover{
  border-radius: 15px;
  background-color: orange;
}

.blocco0:active{
  transform: scale(.9);
}
